<div class="banner-home">

  <%= render 'shared/navbar' %>

  <div class="container_form", style="margin-left: 50px;">
    <!-- create a form_tag -->
    <%= form_tag generate_path, method: "post" do |f| %>

    <!-- create an input__form for location -->
    <div class="title">

        <h3>Because Canaries</h3>
        <h3>Fly Stress Free</h3>

    </div>
      <div class="form__input">

        <div class="destination">

          <div>
            <div class="title__form">
              <i class="fas fa-globe-asia"></i>
              <%= label_tag 'Country' %>
            </div>
            <div class="input__form">
              <%= text_field_tag :country, nil,  placeholder: "Country" %>
            </div>
          </div>

          <div>
            <div class="title__form">
              <i class="fas fa-city"></i>
              <%= label_tag 'City' %>
            </div>
            <div class="input__form">
              <%= text_field_tag :city, nil, placeholder: "City" %>
            </div>
          </div>

        </div>

        <div>
          <div class="title__form">
            <i class="fas fa-plane-departure"></i>
            <%= label_tag 'Dates' %>
          </div>
          <div class="form-wrapper" style="width: 260px; height: 50px;">
            <input id="range_start" class="input__flatpickr">
              <%= hidden_field_tag :start_date,'', id: "start_date" %>
              <%= hidden_field_tag :end_date, '', id: "end_date" %>
            </input>
          </div>
        </div>
        <!-- create an input__form for purpose -->
        <div class="purpose">
          <div class="title__form">
            <%= label_tag 'Purpose' %>
          </div>

          <div class="dropdown__container">

            <%= select_tag "categories", options_from_collection_for_select(@categories, "name", "name", {:class => "custom__select"})%>

          </div>
        </div>
      </div>
      <!-- create a dropdown with all the categories -->

      <!-- create a checkbox for the interest -->
      <div class="interest">
          <!-- create a checkbox for the relax category -->
          <div id ="relax">

            <div class="category__interests">

              <div class="category__interest">

                <%= label_tag 'Spa' %>
                <%= check_box_tag "interest[]", "Spa"%>
              </div>

              <div class="category__interest">

                <%= label_tag 'Restaurant' %>
                <%= check_box_tag "interest[]", "Restaurant"%>
              </div>

              <div class="category__interest">
                <%= label_tag 'Cinema' %>
                <%= check_box_tag "interest[]", "Cinema/Theatre"%>
              </div>

              <div class="category__interest">
                <%= label_tag 'Museum' %>
                <%= check_box_tag "interest[]", "Museum"%>
              </div>

              <div class="category__interest">
                <%= label_tag 'Walk' %>
                <%= check_box_tag "interest[]", "Walk"%>
              </div>

              <div class="category__interest">
                <%= label_tag 'Aquatic' %>
                <%= check_box_tag "interest[]", "Aquatic"%>
              </div>

              <div class="category__interest">
                <%= label_tag 'Spa' %>
                <%= check_box_tag "interest[]", "Spa"%>
              </div>
            </div>
          </div>

          <div id="display_none">
            <div id="family">
              <div class="category__interests">

                <div class="category__interest">
                  <%= label_tag 'Restaurant' %>
                  <%= check_box_tag "interest[]", "Restaurant"%>
                </div>

                <div class="category__interest">
                  <%= label_tag 'Aquatic' %>
                  <%= check_box_tag "interest[]", "Aquatic"%>
                </div>

                <div class="category__interest">
                  <%= label_tag 'Parks' %>
                  <%= check_box_tag "interest[]", "Parks"%>
                </div>

                <div class="category__interest">
                  <%= label_tag 'Museum' %>
                  <%= check_box_tag "interest[]", "Museum"%>
                </div>

                <div class="category__interest">
                  <%= label_tag 'Walk' %>
                  <%= check_box_tag "interest[]", "Walk"%>
                </div>

                <div class="category__interest">
                  <%= label_tag 'Aquatic' %>
                  <%= check_box_tag "interest[]", "Aquatic"%>
                </div>

                <div class="category__interest">
                  <%= label_tag 'Zoo' %>
                  <%= check_box_tag "interest[]", "Zoo"%>
                </div>

                <div class="category__interest">
                  <%= label_tag 'Football' %>
                  <%= check_box_tag "interest[]", "Football"%>
                </div>
              </div>
            </div>
              <!-- create a checkbox for the Family category -->

              <!-- create a checkbox for the Party category -->
            <div id="party" class="form-group">
              <div class="category__interests">
                <div class="category__interest">
                  <%= label_tag 'Club' %>
                  <%= check_box_tag "interest[]", "Club"%>
                </div>

                <div class="category__interest">
                  <%= label_tag 'Bars' %>
                  <%= check_box_tag "interest[]", "Bar"%>
                </div>

                <div class="category__interest">
                  <%= label_tag 'Restaurant' %>
                  <%= check_box_tag "interest[]", "Restaurant"%>
                </div>

                <div class="category__interest">
                  <%= label_tag 'Aquatic' %>
                  <%= check_box_tag "interest[]", "Aquatic"%>
                </div>

                <div class="category__interest">
                  <%= label_tag 'Walk' %>
                  <%= check_box_tag "interest[]", "Walk"%>
                </div>

                <div class="category__interest">
                  <%= label_tag 'Concert' %>
                  <%= check_box_tag "interest[]", "Concert"%>
                </div>

                <div class="category__interest">
                  <%= label_tag 'Festival' %>
                  <%= check_box_tag "interest[]", "Festival"%>
                </div>

                <div class="category__interest">
                  <%= label_tag 'Stand-up' %>
                  <%= check_box_tag "interest[]", "Stand-up"%>
                </div>
              </div>
            </div>


            <div id="adventure" class="form-group">
            <!-- create a checkbox for the Adventure category -->
              <div class="category__interests">
                <div class="category__interest">
                  <%= label_tag 'Hiking' %>
                  <%= check_box_tag "interest[]", "Hiking"%>
                </div>

                <div class="category__interest">
                    <%= label_tag 'Climbing' %>
                    <%= check_box_tag "interest[]", "Climbing"%>
                </div>

                <div class="category__interest">
                    <%= label_tag 'Walk' %>
                    <%= check_box_tag "interest[]", "Walk"%>
                </div>

                <div class="category__interest">
                  <%= label_tag 'Restaurant' %>
                  <%= check_box_tag "interest[]", "Restaurant"%>
                </div>

                <div class="category__interest">
                  <%= label_tag 'Thrill' %>
                  <%= check_box_tag "interest[]", "Thrill"%>
                </div>

                <div class="category__interest">
                  <%= label_tag 'Ski' %>
                  <%= check_box_tag "interest[]", "Ski"%>
                </div>

                <div class="category__interest">
                  <%= label_tag 'Beach' %>
                  <%= check_box_tag "interest[]", "Beach"%>
                </div>

                <div class="category__interest">
                  <%= label_tag 'Escape' %>
                  <%= check_box_tag "interest[]", "Escape"%>
              </div>
            </div>
          </div>

      </div>

      <div class="button__form">
          <%= submit_tag "Itinerary", class: "button", onclick: "window.generateModal()" %>
      </div>
    <% end %>

  </div>
</div>



