<div class="banner-home">

  <%= render 'shared/navbar' %>

  <div class="container_form", style="margin-left: 50px;">
    <!-- create a form_tag -->
    <%= form_tag generate_path, method: "post" do |f| %>

    <!-- create an input__form for location -->
    <div class="title">
      <h3>Canary</h3>
      <h4 id= "slogan">Fly Stress Free</h4>
    </div>
      <div class="form__input">

        <div class="destination">

          <div>
            <div class="title__form">
              <i class="fas fa-globe-asia"></i>
              <%= label_tag 'Country' %>
            </div>
            <div class="input__form">
              <%= text_field_tag :country, nil,  placeholder: "Country" %>
            </div>
          </div>

          <div>
            <div class="title__form">
              <i class="fas fa-city"></i>
              <%= label_tag 'City' %>
            </div>
            <div class="input__form">
              <%= text_field_tag :city, nil, placeholder: "City" %>
            </div>
          </div>

        </div>

        <div>
          <div class="title__form">
            <i class="fas fa-plane-departure"></i>
            <%= label_tag 'Dates' %>
          </div>
          <div class="form-wrapper" style="width: 260px; height: 50px;">
            <input id="range_start" class="input__flatpickr">
              <%= hidden_field_tag :start_date,'', id: "start_date" %>
              <%= hidden_field_tag :end_date, '', id: "end_date" %>
            </input>
          </div>
        </div>
        <!-- create an input__form for purpose -->
        <div class="purpose">
          <div class="title__form">
            <%= label_tag 'Purpose' %>
          </div>

          <div class="dropdown__container">
            <%= select_tag "categories", options_from_collection_for_select(@categories, "name", "name", {class: "custom__select"})%>

          </div>
        </div>
      </div>
      <!-- create a dropdown with all the categories -->

      <!-- create a checkbox for the interest -->
      <div class="interest">
          <div id="family">
            <div class="category__interests">

              <div class="category__interest">
              <input type="checkbox" class="d-none" value= "restaurant" name="interest[]" id="post_category_ids_restaurant-family">
                <label for="post_category_ids_restaurant-family">
                <i class="category-choice">Restaurant</i>
              </div>


              <div class="category__interest">
              <input type="checkbox" class="d-none" value= "aquatic" name="interest[]" id="post_category_ids_aquatic-family">
                <label for="post_category_ids_aquatic-family">
                <i class="category-choice">Aquatic</i>
              </div>

              <div class="category__interest">
              <input type="checkbox" class="d-none" value= "parks" name="interest[]" id="post_category_ids_parks-family">
                <label for="post_category_ids_parks-family">
                <i class="category-choice">Parks</i>
              </div>

              <div class="category__interest">
              <input type="checkbox" class="d-none" value= "museum" name="interest[]" id="post_category_ids_museum-family">
                <label for="post_category_ids_museum-family">
                <i class="category-choice">Museum</i>
              </div>

              <div class="category__interest">
              <input type="checkbox" class="d-none" value= "walk" name="interest[]" id="post_category_ids_walk-family">
                <label for="post_category_ids_walk-family">
                <i class="category-choice">Walk</i>
              </div>

              <div class="category__interest">
              <input type="checkbox" class="d-none" value= "cooking" name="interest[]" id="post_category_ids_cooking-family">
                <label for="post_category_ids_cooking-family">
                <i class="category-choice">Cooking</i>
              </div>

              <div class="category__interest">
              <input type="checkbox" class="d-none" value= "zoo" name="interest[]" id="post_category_ids_zoo-family">
                <label for="post_category_ids_zoo-family">
                <i class="category-choice">Zoo</i>
              </div>

              <div class="category__interest">
              <input type="checkbox" class="d-none" value= "football" name="interest[]" id="post_category_ids_football-family">
                <label for="post_category_ids_football-family">
                <i class="category-choice">Football</i>
              </div>
            </div>
          </div>
          <!-- create a checkbox for the relax category -->


          <div id="display_none">

              <!-- create a checkbox for the Family category -->

              <!-- create a checkbox for the Party category -->
            <div id ="relax">

              <div class="category__interests">

                <div class="category__interest">
                  <input type="checkbox" class="d-none" value= "Spa" name="interest[]" id="post_category_ids_spa-relax">
                  <label for="post_category_ids_spa-relax">
                    <i class="category-choice">Spa</i>
                  </label>
                </div>

                <div class="category__interest">
                  <input type="checkbox" class="d-none" value= "Restaurant" name="interest[]" id="post_category_ids_restaurant-relax">
                  <label for="post_category_ids_restaurant-relax">
                  <i class="category-choice">Restaurant</i>
                </div>

                <div class="category__interest">
                  <input type="checkbox" class="d-none" value= "Cinema" name="interest[]" id="post_category_ids_cinema-relax">
                  <label for="post_category_ids_cinema-relax">
                  <i class="category-choice">Cinema</i>
                </div>

                <div class="category__interest">
                  <input type="checkbox" class="d-none" value= "Museum" name="interest[]" id="post_category_ids_museum-relax">
                  <label for="post_category_ids_museum-relax">
                  <i class="category-choice">Museum</i>
                </div>

                <div class="category__interest">
                  <input type="checkbox" class="d-none" value= "Walk" name="interest[]" id="post_category_ids_walk-relax">
                  <label for="post_category_ids_walk-relax">
                  <i class="category-choice">Walk</i>
                </div>

                <div class="category__interest">
                  <input type="checkbox" class="d-none" value= "Aquatic" name="interest[]" id="post_category_ids_aquatic-relax">
                  <label for="post_category_ids_aquatic-relax">
                  <i class="category-choice">Aquatic</i>
                </div>

                <div class="category__interest">
                  <input type="checkbox" class="d-none" value= "meditation" name="interest[]" id="post_category_ids_meditation-relax">
                  <label for="post_category_ids_meditation-relax">
                  <i class="category-choice">Meditation</i>
                </div>

                <div class="category__interest">
                  <input type="checkbox" class="d-none" value= "meditation" name="interest[]" id="post_category_ids_meditation-relax">
                  <label for="post_category_ids_meditation-relax">
                  <i class="category-choice">Meditation</i>
                </div>
              </div>
            </div>
            <div id="party" class="form-group">
              <div class="category__interests">
                <div class="category__interest">
                <input type="checkbox" class="d-none" value= "club" name="interest[]" id="post_category_ids_club-party">
                  <label for="post_category_ids_club-party">
                  <i class="category-choice">Club</i>
                </div>

                <div class="category__interest">
                <input type="checkbox" class="d-none" value= "bar" name="interest[]" id="post_category_ids_bar-party">
                  <label for="post_category_ids_bar-party">
                  <i class="category-choice">Bar</i>
                </div>

                <div class="category__interest">
                <input type="checkbox" class="d-none" value= "restaurant" name="interest[]" id="post_category_ids_restaurant-party">
                  <label for="post_category_ids_restaurant-party">
                  <i class="category-choice">Restaurant</i>
                </div>

                <div class="category__interest">
                <input type="checkbox" class="d-none" value= "aquatic" name="interest[]" id="post_category_ids_aquatic-party">
                  <label for="post_category_ids_aquatic-party">
                  <i class="category-choice">Aquatic</i>
                </div>

                <div class="category__interest">
                <input type="checkbox" class="d-none" value= "walk" name="interest[]" id="post_category_ids_walk-party">
                  <label for="post_category_ids_walk-party">
                  <i class="category-choice">Walk</i>
                </div>

                <div class="category__interest">
                <input type="checkbox" class="d-none" value= "concert" name="interest[]" id="post_category_ids_concert-party">
                  <label for="post_category_ids_concert-party">
                  <i class="category-choice">Concert</i>
                </div>

                <div class="category__interest">
                <input type="checkbox" class="d-none" value= "festival" name="interest[]" id="post_category_ids_festival-party">
                  <label for="post_category_ids_festival-party">
                  <i class="category-choice">Festival</i>
                </div>

                <div class="category__interest">
                <input type="checkbox" class="d-none" value= "stand-up" name="interest[]" id="post_category_ids_stand-up-party">
                  <label for="post_category_ids_stand-up-party">
                  <i class="category-choice">Stand-up</i>
                </div>
              </div>
            </div>


            <div id="adventure" class="form-group">
            <!-- create a checkbox for the Adventure category -->
              <div class="category__interests">
                <div class="category__interest">
                <input type="checkbox" class="d-none" value= "hiking" name="interest[]" id="post_category_ids_hiking-adventure">
                  <label for="post_category_ids_hiking-adventure">
                  <i class="category-choice">Hiking</i>
                </div>

                <div class="category__interest">
                <input type="checkbox" class="d-none" value= "climbing" name="interest[]" id="post_category_ids_climbing-adventure">
                  <label for="post_category_ids_climbing-adventure">
                  <i class="category-choice">Climbing</i>
                </div>

                <div class="category__interest">
                <input type="checkbox" class="d-none" value= "walk" name="interest[]" id="post_category_ids_walk-adventure">
                  <label for="post_category_ids_walk-adventure">
                  <i class="category-choice">Walk</i>
                </div>

                <div class="category__interest">
                <input type="checkbox" class="d-none" value= "restaurant" name="interest[]" id="post_category_ids_restaurant-adventure">
                  <label for="post_category_ids_restaurant-adventure">
                  <i class="category-choice">Restaurant</i>
                </div>

                <div class="category__interest">
                <input type="checkbox" class="d-none" value= "thrill" name="interest[]" id="post_category_ids_thrill-adventure">
                  <label for="post_category_ids_thrill-adventure">
                  <i class="category-choice">Thrill</i>
                </div>

                <div class="category__interest">
                <input type="checkbox" class="d-none" value= "ski" name="interest[]" id="post_category_ids_ski-adventure">
                  <label for="post_category_ids_ski-adventure">
                  <i class="category-choice">Ski</i>
                </div>

                <div class="category__interest">
                <input type="checkbox" class="d-none" value= "beach" name="interest[]" id="post_category_ids_beach-adventure">
                  <label for="post_category_ids_beach-adventure">
                  <i class="category-choice">Beach</i>
                </div>

                <div class="category__interest">
                <input type="checkbox" class="d-none" value= "escape" name="interest[]" id="post_category_ids_escape-adventure">
                  <label for="post_category_ids_escape-adventure">
                  <i class="category-choice">Escape</i>
                </div>
              </div>
            </div>
          </div>

      </div>

      <div class="button__form">
          <%= submit_tag "Itinerary", class: "button", onclick: "window.generateModal()" %>
      </div>
    <% end %>

  </div>
</div>



