<h1>Homepage</h1>


<div>
  <h2>container</h2>
      <div> <h3>Banner</h3>

        <div>
          <h4>Form</h4>


          <%= form_tag %>
            <%= text_field_tag "name"  %>
            <%= text_field_tag "name1"  %>
            <%= text_field_tag "name2"  %>
            <%= submit_tag  %>
        </div>
      </div>



</div>

