

<div class = "pdf-card-container">

    <div class="card-image-pdf" style="background-image: url('<%=selection.activity.image_url%>');">
      <p class ="pdf-tod-style"><%= selection.time_of_day  %></p>
    </div>

  <div class = "pdf-content-padding">
    <% activity = selection.activity %>
    <p><strong><%= activity.name %></strong></p>
    <p><%=activity.description%> </p>
    <p><%=activity.address%></p>
  </div>

</div>
