
<div class ="dashboard-container">

  <%# Sidebar  %>
  <div class="sidebar-bg">
    <h2>Logo</h2>
    <hr>
    <h2>Sidebar</h2>
    <hr>
    <p>List-View</p>
    <p>My Itineraries</p>
    <p>Save</p>
    <hr>
    <p>Settings</p>
    <p>Logout</p>
  </div>

  <%# To display days of the week  %>
  <div>
    <div class="banner-dashboard">
    </div>
      <div>
      <ul class ="list-style card-container">
        <li>Monday</li>
        <li>Tuesday</li>
        <li>Wednesday</li>
        <li>Thursday</li>
        <li>Friday</li>
        <li>Saturday</li>
        <li>Sunday</li>
      </ul>
    </div>

    <%# Loading all of the sorted cards  %>
    <div class="card-container">
      <div class = "card-zone">
        <% @counter = 1 %>
        <% DAYS.each do |day|  %>

          <% selection = Selection.where(user: current_user, time_of_day: day[1], date: day[0]).first %>
          <% if selection %>
            <div data-id="selection-<%=@counter%>" class="card-cell card-itinerary" style="background-image: url('<%=selection.activity.image_url%>');">
              <p class><%= selection.activity.name %></p>
            </div>
          <% else %>
            <div data-id="selection-<%=@counter%>" class="card-cell card-itinerary" style="background-color: black ;"></div>
          <% end %>

            <% @counter +=1 %>
        <% end %>
      </div>
    </div>

    <%# Map  %>
    <div class = "map-border map-container">
     <div id="map" style="width: 100%; height: 400px;"data-markers="<%= @markers.to_json %>"data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>

</div>




