<%# Container for the entire page (cards and map)  %>
<div id="wrapper">
  <div class="overlay"></div>
  <!-- Sidebar -->
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <div class="sidebar-header">
          <div class="sidebar-brand">
            <div class="logonav"><%= link_to (image_tag "logo.png"), root_path %></div>
          </div>
        </div>
        <div class="sidebox">
          <div class="sidelist">
            <li class="side-menue-actions"><i class="fas fa-stream" style="color: white"></i><%= link_to "Timeline", listview_path %> </li>
            <li class="side-menue-actions"><i class="far fa-calendar-alt" style="color: white"></i><%= link_to "Calendar", selections_path %> </li>
            <!-- <li class="side-menue-actions"><i class="fas fa-map-marked-alt" style="color: white"></i><%#= link_to "My itinerary" %></li> -->
            <li class="side-menue-actions"><i class="fas fa-file-download" style="color: white"></i><%= link_to "Download", pdfview_path(format: :pdf) %></li>
          </div>
          <div class="sideactions">
            <!-- <li class="side-menue-actions"><%#= link_to "Settings" %></li> -->
            <li class="side-menue-actions"><%= link_to "Logout" %></li>
            <hr style="color: white">
            <p><i class="far fa-copyright"></i> Canary,Inc. All rights reserved<br>@canary</p>
            <div class="footericons">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-twitter-square"></i>
            </div>
          </div>
        </div>
      </ul>
    </nav>

  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div class="minisidebar"></div>
  <div id="page-content-wrapper">
    <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>


    <div class="list-container">

      <div class="list__header">
        <div class="title__list">
          <h1>Activities for your trip to <br>Rome, Italy </h1>
          <div class="btn-padding">
            <%= link_to 'DOWNLOAD YOUR ITINERARY', pdfview_path(format: :pdf), class: "btn-download" %>
          </div>
        </div>
      </div>

      <div class="start__activity-container">
        <div>
          <div class="time__info-start">
            <div class="line"></div>
            <div class="list__icon-start">
              <i class="fas fa-plane-arrival fa-lg", style="color: #484848";></i>
            </div>
          </div>
        </div>

      </div>

      <div class="cards-itinerary-container">
        <%# Looping through each selection %>
        <% @monday_selection.each do |selection| %>
        <%# Card starting point  %>
        <%# Card starting point  %>


        <div class="container__content">
          <% if selection.time_of_day == "Morning" %>
          <div class="time__info">
            <div class="list__icon">
              <% if @monday_selection.find_by(time_of_day: "Afternoon") || @monday_selection.find_by(time_of_day: "Evening") %>
                <div class="line"></div>
              <% end %>
              <i class="fas fa-cloud-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>



          <% elsif selection.time_of_day == "Afternoon" %>
          <div class="time__info">
            <div class="list__icon">
              <% if @monday_selection.find_by(time_of_day: "Evening")%>
                <div class="line"></div>
              <% end %>
              <i class="fas fa-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <% end %>


          <!-- create an icon by the time of day -->
          <% if selection.time_of_day == "Evening"   %>
          <div class="time__info">
            <div class="list__icon">
              <i class="fas fa-moon fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <% end %>
          <%= render 'card-list', {selection: selection} %>
          <!-- /.card-list-container -->
        </div>
        <% end %>

      </div>


      <div class="cards-itinerary-container">
        <%# Looping through each selection %>
        <% @tuesday_selection.each do |selection| %>
        <%# Card starting point  %>
        <%# Card starting point  %>

        <div class="container__content">
          <% if selection.time_of_day == "Morning" %>

          <div class="time__info">
            <div class="list__icon">
              <% if @tuesday_selection.find_by(time_of_day: "Afternoon")|| @monday_selection.find_by(time_of_day: "Evening")%>
                <div class="line"></div>
              <% end %>
              <i class="fas fa-cloud-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>

          <% elsif selection.time_of_day == "Afternoon" %>
          <div class="time__info">
            <div class="list__icon">
              <% if @tuesday_selection.find_by(time_of_day: "Evening") %>
                <div class="line"></div>
              <% end %>
              <i class="fas fa-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <% end %>



          <% if selection.time_of_day == "Evening"   %>

          <div class="time__info">
            <div class="list__icon">
              <i class="fas fa-moon fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <% end %>

          <%= render 'card-list', {selection: selection} %>
          <!-- /.card-list-container -->
        </div>
        <% end %>

      </div>


      <div class="cards-itinerary-container">
        <%# Looping through each selection %>
        <% @wednesday_selection.each do |selection| %>
        <%# Card starting point  %>
        <%# Card starting point  %>

        <div class="container__content">
          <% if selection.time_of_day == "Morning" %>
          <div class="time__info">
            <div class="list__icon">
              <% if @wednesday_selection.find_by(time_of_day: "Afternoon") || @monday_selection.find_by(time_of_day: "Evening") %>
                <div class="line"></div>
              <% end %>
              <i class="fas fa-cloud-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>

          <% elsif selection.time_of_day == "Afternoon" %>
          <div class="time__info">
            <div class="list__icon">
              <% if @wednesday_selection.find_by(time_of_day: "Evening") %>
                <div class="line"></div>
              <% end %>
              <i class="fas fa-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <% end %>

          <% if selection.time_of_day == "Evening"   %>

          <div class="time__info">
            <div class="list__icon">
              <i class="fas fa-moon fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <% end %>

          <%= render 'card-list', {selection: selection} %>
          <!-- /.card-list-container -->
        </div>
        <% end %>

      </div>



      <div class="cards-itinerary-container">
        <%# Looping through each selection %>
        <% @thursday_selection.each do |selection| %>
        <%# Card starting point  %>
        <%# Card starting point  %>
        <div class="container__content">
          <% if selection.time_of_day == "Morning" %>
          <div class="time__info">
            <div class="list__icon">
              <% if @thursday_selection.find_by(time_of_day: "Afternoon")|| @monday_selection.find_by(time_of_day: "Evening") %>
                <div class="line"></div>
              <% end %>
              <i class="fas fa-cloud-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>

          <% elsif selection.time_of_day == "Afternoon" %>
          <div class="time__info">
            <div class="list__icon">
              <% if @thursday_selection.find_by(time_of_day: "Evening") %>
                <div class="line"></div>
              <% end %>
              <i class="fas fa-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <% end %>

          <% if selection.time_of_day == "Evening"   %>

          <div class="time__info">
            <div class="list__icon">
              <i class="fas fa-moon fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <% end %>

          <%= render 'card-list', {selection: selection} %>
          <!-- /.card-list-container -->
        </div>
        <% end %>

      </div>


      <div class="cards-itinerary-container">
        <%# Looping through each selection %>
        <% @friday_selection.each do |selection| %>
        <%# Card starting point  %>
        <%# Card starting point  %>
        <div class="container__content">
          <% if selection.time_of_day == "Morning" %>
          <div class="time__info">
            <div class="list__icon">
              <% if @friday_selection.find_by(time_of_day: "Afternoon") || @monday_selection.find_by(time_of_day: "Evening") %>
                <div class="line"></div>
              <% end %>
              <i class="fas fa-cloud-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>

          <% elsif selection.time_of_day == "Afternoon" %>
          <div class="time__info">
            <div class="list__icon">
              <% if @friday_selection.find_by(time_of_day: "Evening") %>
                <div class="line"></div>
              <% end %>
              <i class="fas fa-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <% end %>

          <% if selection.time_of_day == "Evening"   %>

          <div class="time__info">
            <div class="list__icon">
              <i class="fas fa-moon fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <% end %>
          <%= render 'card-list', {selection: selection} %>
          <!-- /.card-list-container -->
        </div>
        <% end %>

      </div>


      <div class="cards-itinerary-container">
        <%# Looping through each selection %>
        <% @saturday_selection.each do |selection| %>
        <%# Card starting point  %>
        <%# Card starting point  %>

        <div class="container__content">
          <% if selection.time_of_day == "Morning" %>
          <div class="time__info">
            <div class="list__icon">
              <% if @saturday_selection.find_by(time_of_day: "Afternoon") || @monday_selection.find_by(time_of_day: "Evening") %>
                <div class="line"></div>
              <% end %>
              <i class="fas fa-cloud-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>

          <% elsif selection.time_of_day == "Afternoon" %>
          <div class="time__info">
            <div class="list__icon">
              <% if @saturday_selection.find_by(time_of_day: "Evening") %>
                <div class="line"></div>
              <% end %>
              <i class="fas fa-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <% end %>

          <% if selection.time_of_day == "Evening" %>

          <div class="time__info">
            <div class="list__icon">
              <i class="fas fa-moon fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <% end %>

          <%= render 'card-list', {selection: selection} %>
          <!-- /.card-list-container -->
        </div>
        <% end %>
      </div>


      <div class="cards-itinerary-container">
        <%# Looping through each selection %>
        <% @sunday_selection.each do |selection| %>
        <%# Card starting point  %>
        <%# Card starting point  %>
        <div class="container__content">
          <% if selection.time_of_day == "Morning" %>
          <div class="time__info">
            <div class="list__icon">
              <% if @sunday_selection.find_by(time_of_day: "Afternoon") || @sunday_selection.find_by(time_of_day: "Evening") %>
                <div class="line"></div>
              <% end %>
              <i class="fas fa-cloud-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>

          <% elsif selection.time_of_day == "Afternoon" %>
          <div class="time__info">
            <div class="list__icon">
              <% if @sunday_selection.find_by(time_of_day: "Evening") %>
                <div class="line"></div>
              <% end %>
              <i class="fas fa-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <% end %>

          <% if selection.time_of_day == "Evening"   %>

          <div class="time__info-end">
            <div class="list__icon">
              <i class="fas fa-cloud-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <% end %>

          <%= render 'card-list', {selection: selection} %>
          <!-- /.card-list-container -->
        </div>
          <% end %>

      </div>

      <div class="end__activity-container">
        <div>
          <div class="time__info-end">
            <div class="list__icon-start">
              <div class="line"></div>
              <i class="fas fa-plane-departure fa-lg", style="color: #484848";></i>
            </div>
          </div>
        </div>

      </div>

        <%# /loop  %>

      </div>

      <!-- /cards-itinerary-container -->
    </div>
    <!-- /.list-container -->
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->


