<%# Container for the entire page (cards and map)  %>
<div id="wrapper">
  <div class="overlay"></div>
  <!-- Sidebar -->
  <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <div class="sidebar-header">
   <div class="sidebar-brand">
            <div class="logonav"><%= image_tag "logo.png"%></div>
          </div>
      </div>
      <div class="sidebox">
        <div class="sidelist">
          <li> <%= link_to "List-View", listview_path %> </li>
          <li> <%= link_to "Calendar-View", selections_path %> </li>
          <li>  <%= link_to "My itinerary" %></li>
          <li> <%= link_to "Save" %></li>
        </div>
        <div class="sideactions">
          <li><!-- <i class="fas fa-user-cog"></i><%= link_to "Settings" %></li>
          <li><i class="fas fa-sign-out-alt"> --></i><%= link_to "Logout" %></li>
        </div>
      </div>
    </ul>
  </nav>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div class="minisidebar"></div>
  <div id="page-content-wrapper">
    <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>


    <div class="list-container">

      <div class="cards-itinerary-container">
        <%# Looping through each selection %>
        <% @monday_selection.each do |selection| %>
        <%# Card starting point  %>
        <%# Card starting point  %>

        <!-- add a date if afternoon -->

        <% if selection.time_of_day == "Morning" %>
          <div class="cards__date">
            <div class="cards__date-title">
              <p> <%= selection.date %> <%= selection.day_date %> <%= @month %></p>
              <hr>
            </div>
          </div>
        <% end %>

        <div class="container__content">
          <!-- create an icon by the time of day -->
          <% if selection.time_of_day == "Morning" %>
          <div class="time__info">
            <div class="list__icon">
              <i class="fas fa-cloud-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <!-- create an icon by the time of day -->
          <% elsif selection.time_of_day == "Afternoon" %>

          <div class="time__info">
            <div class="line"></div>
            <div class="list__icon">
              <i class="fas fa-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>


          <!-- create an icon by the time of day -->
          <% elsif selection.time_of_day == "Evening"   %>
          <div class="time__info">
            <div class="list__icon">
              <i class="fas fa-moon fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <% end %>
          <div class="card-list-container">
            <div class="card-list-flex">

              <%# Image container  %>
              <div class="card-image" style="background-image: url('<%=selection.activity.image_url%>');">
              </div>

              <%# Card info  %>

              <!-- Turns card info area into a 2-div grid -->
              <div class = "card-info-container">

                <%# Adding padding to the text  %>
                <div class="card-text-container">
                  <h2><%=selection.activity.name%></h2>
                  <p> <%=selection.activity.description%> </p>
                  <p> <%=selection.activity.address%></p>
                </div>

                <div class = "card-text-container ">

                  <div class = "card-list-right">

                    <div>
                      <p>Website</p>
                    </div>

                    <div>
                      <% if selection.activity.price_category == "1" %>
                        <p><% 1.times{%> <i class="fas fa-dollar-sign"></i><%}%> </p>

                      <% elsif selection.activity.price_category == "2" %>
                        <p><% 2.times{%> <i class="fas fa-dollar-sign"></i><%}%> </p>

                      <% elsif selection.activity.price_category == "3" %>
                        <p><% 3.times{%> <i class="fas fa-dollar-sign"></i><%}%> </p>
                      <% end %>
                    </div>
                    <div>
                      <% if selection.activity.rate == 1 %>
                        <p><% 1.times{%> <i class="fas fas fa-star"></i><%}%> </p>

                      <% elsif selection.activity.rate == 2 %>
                        <p><% 2.times{%> <i class="fas fas fa-star"></i><%}%> </p>

                      <% elsif selection.activity.rate == 3 %>
                        <p><% 3.times{%> <i class="fas fas fa-star"></i><%}%> </p>
                        <% elsif selection.activity.rate == 4 %>
                        <p><% 4.times{%> <i class="fas fas fa-star"></i><%}%> </p>
                        <% elsif selection.activity.rate == 5 %>
                        <p><% 5.times{%> <i class="fas fas fa-star"></i><%}%> </p>
                      <% end %>
                    </div>

                  </div>

                </div>

              </div>


              <!-- /.card-info -->

            </div>
            <!-- /.card-list-flex -->
          </div>
          <!-- /.card-list-container -->
        </div>
        <% end %>

      </div>

      <div class="cards-itinerary-container">
        <%# Looping through each selection %>
        <% @tuesday_selection.each do |selection| %>
        <%# Card starting point  %>
        <%# Card starting point  %>

        <% if selection.time_of_day == "Morning" %>
          <div class="cards__date">
            <div class="cards__date-title">
              <p> <%= selection.date %> <%= selection.day_date %> <%= @month %></p>
              <hr>
            </div>
          </div>
        <% end %>

        <div class="container__content">
          <% if selection.time_of_day == "Morning" %>

          <div class="time__info">
            <div class="list__icon">
              <i class="fas fa-cloud-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>

          <% elsif selection.time_of_day == "Afternoon" %>
          <div class="time__info">
            <div class="line"></div>
            <div class="list__icon">
              <i class="fas fa-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>

          <% elsif selection.time_of_day == "Evening"   %>

          <div class="time__info">
            <div class="list__icon">
              <i class="fas fa-moon fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <% end %>
          <div class="card-list-container">
            <div class="card-list-flex">

              <%# Image container  %>
              <div class="card-image" style="background-image: url('<%=selection.activity.image_url%>');">
              </div>

              <%# Card info  %>
              <div class = "card-info-container">

                <%# Adding padding to the text  %>
                <div class="card-text-container">
                  <h2><%=selection.activity.name%></h2>
                  <p> <%=selection.activity.description%> </p>
                  <p> <%=selection.activity.address%></p>
                </div>

                <div class = "card-text-container ">

                  <div class = "card-list-right">

                    <div>
                      <p>Website</p>
                    </div>

                    <div>
                      <% if selection.activity.price_category == "1" %>
                        <p><% 1.times{%> <i class="fas fa-dollar-sign"></i><%}%> </p>

                      <% elsif selection.activity.price_category == "2" %>
                        <p><% 2.times{%> <i class="fas fa-dollar-sign"></i><%}%> </p>

                      <% elsif selection.activity.price_category == "3" %>
                        <p><% 3.times{%> <i class="fas fa-dollar-sign"></i><%}%> </p>
                      <% end %>
                    </div>
                    <div>
                      <% if selection.activity.rate == 1 %>
                        <p><% 1.times{%> <i class="fas fas fa-star"></i><%}%> </p>

                      <% elsif selection.activity.rate == 2 %>
                        <p><% 2.times{%> <i class="fas fas fa-star"></i><%}%> </p>

                      <% elsif selection.activity.rate == 3 %>
                        <p><% 3.times{%> <i class="fas fas fa-star"></i><%}%> </p>
                        <% elsif selection.activity.rate == 4 %>
                        <p><% 4.times{%> <i class="fas fas fa-star"></i><%}%> </p>
                        <% elsif selection.activity.rate == 5 %>
                        <p><% 5.times{%> <i class="fas fas fa-star"></i><%}%> </p>
                      <% end %>
                    </div>

                  </div>

                </div>

              </div>

            </div>
            <!-- /.card-list-flex -->
          </div>
          <!-- /.card-list-container -->
        </div>
        <% end %>

      </div>

      <div class="cards-itinerary-container">
        <%# Looping through each selection %>
        <% @wednesday_selection.each do |selection| %>
        <%# Card starting point  %>
        <%# Card starting point  %>
        <% if selection.time_of_day == "Morning" %>
          <div class="cards__date">
            <div class="cards__date-title">
              <p> <%= selection.date %> <%= selection.day_date %> <%= @month %></p>
              <hr>
            </div>
          </div>
        <% end %>

        <div class="container__content">
          <% if selection.time_of_day == "Morning" %>
          <div class="time__info">
            <div class="list__icon">
              <i class="fas fa-cloud-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>

          <% elsif selection.time_of_day == "Afternoon" %>
          <div class="time__info">
            <div class="line"></div>
            <div class="list__icon">
              <i class="fas fa-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>

          <% elsif selection.time_of_day == "Evening"   %>

          <div class="time__info">
            <div class="list__icon">
              <i class="fas fa-moon fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <% end %>
          <div class="card-list-container">
            <div class="card-list-flex">

              <%# Image container  %>
              <div class="card-image" style="background-image: url('<%=selection.activity.image_url%>');">
              </div>

              <%# Card info  %>
              <div class = "card-info-container">

                <%# Adding padding to the text  %>
                <div class="card-text-container">
                  <h2><%=selection.activity.name%></h2>
                  <p> <%=selection.activity.description%> </p>
                  <p> <%=selection.activity.address%></p>
                </div>

                <div class = "card-text-container ">

                  <div class = "card-list-right">

                    <div>
                      <p>Website</p>
                    </div>

                    <div>
                      <% if selection.activity.price_category == "1" %>
                        <p><% 1.times{%> <i class="fas fa-dollar-sign"></i><%}%> </p>

                      <% elsif selection.activity.price_category == "2" %>
                        <p><% 2.times{%> <i class="fas fa-dollar-sign"></i><%}%> </p>

                      <% elsif selection.activity.price_category == "3" %>
                        <p><% 3.times{%> <i class="fas fa-dollar-sign"></i><%}%> </p>
                      <% end %>
                    </div>
                    <div>
                      <% if selection.activity.rate == 1 %>
                        <p><% 1.times{%> <i class="fas fas fa-star"></i><%}%> </p>

                      <% elsif selection.activity.rate == 2 %>
                        <p><% 2.times{%> <i class="fas fas fa-star"></i><%}%> </p>

                      <% elsif selection.activity.rate == 3 %>
                        <p><% 3.times{%> <i class="fas fas fa-star"></i><%}%> </p>
                        <% elsif selection.activity.rate == 4 %>
                        <p><% 4.times{%> <i class="fas fas fa-star"></i><%}%> </p>
                        <% elsif selection.activity.rate == 5 %>
                        <p><% 5.times{%> <i class="fas fas fa-star"></i><%}%> </p>
                      <% end %>
                    </div>

                  </div>

                </div>

              </div>
              <!-- /.card-info -->

            </div>
            <!-- /.card-list-flex -->
          </div>
          <!-- /.card-list-container -->
        </div>
        <% end %>

      </div>
      <div class="cards-itinerary-container">
        <%# Looping through each selection %>
        <% @thursday_selection.each do |selection| %>
        <%# Card starting point  %>
        <%# Card starting point  %>
        <% if selection.time_of_day == "Morning" %>
          <div class="cards__date">
            <div class="cards__date-title">
              <p> <%= selection.date %> <%= selection.day_date %> <%= @month %></p>
              <hr>
            </div>
          </div>
        <% end %>
        <div class="container__content">
          <% if selection.time_of_day == "Morning" %>
          <div class="time__info">
            <div class="list__icon">
              <i class="fas fa-cloud-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>

          <% elsif selection.time_of_day == "Afternoon" %>
          <div class="time__info">
            <div class="line"></div>
            <div class="list__icon">
              <i class="fas fa-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>

          <% elsif selection.time_of_day == "Evening"   %>

          <div class="time__info">
            <div class="list__icon">
              <i class="fas fa-moon fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <% end %>
          <div class="card-list-container">
            <div class="card-list-flex">

              <%# Image container  %>
              <div class="card-image" style="background-image: url('<%=selection.activity.image_url%>');">
              </div>

              <%# Card info  %>
              <div class = "card-info-container">

                <%# Adding padding to the text  %>
                <div class="card-text-container">
                  <h2><%=selection.activity.name%></h2>
                  <p> <%=selection.activity.description%> </p>
                  <p> <%=selection.activity.address%></p>
                </div>

                <div class = "card-text-container ">

                  <div class = "card-list-right">

                    <div>
                      <p>Website</p>
                    </div>

                    <div>
                      <% if selection.activity.price_category == "1" %>
                        <p><% 1.times{%> <i class="fas fa-dollar-sign"></i><%}%> </p>

                      <% elsif selection.activity.price_category == "2" %>
                        <p><% 2.times{%> <i class="fas fa-dollar-sign"></i><%}%> </p>

                      <% elsif selection.activity.price_category == "3" %>
                        <p><% 3.times{%> <i class="fas fa-dollar-sign"></i><%}%> </p>
                      <% end %>
                    </div>
                    <div>
                      <% if selection.activity.rate == 1 %>
                        <p><% 1.times{%> <i class="fas fas fa-star"></i><%}%> </p>

                      <% elsif selection.activity.rate == 2 %>
                        <p><% 2.times{%> <i class="fas fas fa-star"></i><%}%> </p>

                      <% elsif selection.activity.rate == 3 %>
                        <p><% 3.times{%> <i class="fas fas fa-star"></i><%}%> </p>
                        <% elsif selection.activity.rate == 4 %>
                        <p><% 4.times{%> <i class="fas fas fa-star"></i><%}%> </p>
                        <% elsif selection.activity.rate == 5 %>
                        <p><% 5.times{%> <i class="fas fas fa-star"></i><%}%> </p>
                      <% end %>
                    </div>

                  </div>

                </div>

              </div>
              <!-- /.card-info -->

            </div>
            <!-- /.card-list-flex -->
          </div>
          <!-- /.card-list-container -->
        </div>
        <% end %>

      </div>

      <div class="cards-itinerary-container">
        <%# Looping through each selection %>
        <% @friday_selection.each do |selection| %>
        <%# Card starting point  %>
        <%# Card starting point  %>
        <% if selection.time_of_day == "Morning" %>
          <div class="cards__date">
            <div class="cards__date-title">
              <p> <%= selection.date %> <%= selection.day_date %> <%= @month %></p>
              <hr>
            </div>
          </div>
        <% end %>
        <div class="container__content">
          <% if selection.time_of_day == "Morning" %>
          <div class="time__info">
            <div class="list__icon">
              <i class="fas fa-cloud-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>

          <% elsif selection.time_of_day == "Afternoon" %>
          <div class="time__info">
            <div class="line"></div>
            <div class="list__icon">
              <i class="fas fa-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>

          <% elsif selection.time_of_day == "Evening"   %>

          <div class="time__info">
            <div class="list__icon">
              <i class="fas fa-moon fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <% end %>
          <div class="card-list-container">
            <div class="card-list-flex">

              <%# Image container  %>
              <div class="card-image" style="background-image: url('<%=selection.activity.image_url%>');">
              </div>

              <%# Card info  %>
              <div class = "card-info-container">

                <%# Adding padding to the text  %>
                <div class="card-text-container">
                  <h2><%=selection.activity.name%></h2>
                  <p> <%=selection.activity.description%> </p>
                  <p> <%=selection.activity.address%></p>
                </div>

                <div class = "card-text-container ">

                  <div class = "card-list-right">

                    <div>
                      <p>Website</p>
                    </div>

                    <div>
                      <% if selection.activity.price_category == "1" %>
                        <p><% 1.times{%> <i class="fas fa-dollar-sign"></i><%}%> </p>

                      <% elsif selection.activity.price_category == "2" %>
                        <p><% 2.times{%> <i class="fas fa-dollar-sign"></i><%}%> </p>

                      <% elsif selection.activity.price_category == "3" %>
                        <p><% 3.times{%> <i class="fas fa-dollar-sign"></i><%}%> </p>
                      <% end %>
                    </div>
                    <div>
                      <% if selection.activity.rate == 1 %>
                        <p><% 1.times{%> <i class="fas fas fa-star"></i><%}%> </p>

                      <% elsif selection.activity.rate == 2 %>
                        <p><% 2.times{%> <i class="fas fas fa-star"></i><%}%> </p>

                      <% elsif selection.activity.rate == 3 %>
                        <p><% 3.times{%> <i class="fas fas fa-star"></i><%}%> </p>
                        <% elsif selection.activity.rate == 4 %>
                        <p><% 4.times{%> <i class="fas fas fa-star"></i><%}%> </p>
                        <% elsif selection.activity.rate == 5 %>
                        <p><% 5.times{%> <i class="fas fas fa-star"></i><%}%> </p>
                      <% end %>
                    </div>

                  </div>

                </div>

              </div>
              <!-- /.card-info -->

            </div>
            <!-- /.card-list-flex -->
          </div>
          <!-- /.card-list-container -->
        </div>
        <% end %>

      </div>

      <div class="cards-itinerary-container">
        <%# Looping through each selection %>
        <% @saturday_selection.each do |selection| %>
        <%# Card starting point  %>
        <%# Card starting point  %>
        <% if selection.time_of_day == "Morning" %>
          <div class="cards__date">
            <div class="cards__date-title">
              <p> <%= selection.date %> <%= selection.day_date %> <%= @month %></p>
              <hr>
            </div>
          </div>
        <% end %>

        <div class="container__content">
          <% if selection.time_of_day == "Morning" %>
          <div class="time__info">
            <div class="list__icon">
              <i class="fas fa-cloud-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>

          <% elsif selection.time_of_day == "Afternoon" %>
          <div class="time__info">
            <div class="line"></div>
            <div class="list__icon">
              <i class="fas fa-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>

          <% elsif selection.time_of_day == "Evening"   %>

          <div class="time__info">
            <div class="list__icon">
              <i class="fas fa-moon fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <% end %>
          <div class="card-list-container">
            <div class="card-list-flex">

              <%# Image container  %>
              <div class="card-image" style="background-image: url('<%=selection.activity.image_url%>');">
              </div>

              <%# Card info  %>
              <div class = "card-info-container">

                <%# Adding padding to the text  %>
                <div class="card-text-container">
                  <h2><%=selection.activity.name%></h2>
                  <p> <%=selection.activity.description%> </p>
                  <p> <%=selection.activity.address%></p>
                </div>

                <div class = "card-text-container ">

                  <div class = "card-list-right">

                    <div>
                      <p>Website</p>
                    </div>

                    <div>
                      <% if selection.activity.price_category == "1" %>
                        <p><% 1.times{%> <i class="fas fa-dollar-sign"></i><%}%> </p>

                      <% elsif selection.activity.price_category == "2" %>
                        <p><% 2.times{%> <i class="fas fa-dollar-sign"></i><%}%> </p>

                      <% elsif selection.activity.price_category == "3" %>
                        <p><% 3.times{%> <i class="fas fa-dollar-sign"></i><%}%> </p>
                      <% end %>
                    </div>
                    <div>
                      <% if selection.activity.rate == 1 %>
                        <p><% 1.times{%> <i class="fas fas fa-star"></i><%}%> </p>

                      <% elsif selection.activity.rate == 2 %>
                        <p><% 2.times{%> <i class="fas fas fa-star"></i><%}%> </p>

                      <% elsif selection.activity.rate == 3 %>
                        <p><% 3.times{%> <i class="fas fas fa-star"></i><%}%> </p>
                        <% elsif selection.activity.rate == 4 %>
                        <p><% 4.times{%> <i class="fas fas fa-star"></i><%}%> </p>
                        <% elsif selection.activity.rate == 5 %>
                        <p><% 5.times{%> <i class="fas fas fa-star"></i><%}%> </p>
                      <% end %>
                    </div>

                  </div>

                </div>

              </div>
              <!-- /.card-info -->

            </div>
            <!-- /.card-list-flex -->
          </div>
          <!-- /.card-list-container -->
        </div>
        <% end %>

      </div>

      <div class="cards-itinerary-container">
        <%# Looping through each selection %>
        <% @sunday_selection.each do |selection| %>
        <%# Card starting point  %>
        <%# Card starting point  %>
        <% if selection.time_of_day == "Morning" %>
          <div class="cards__date">
            <div class="cards__date-title">
              <p> <%= selection.date %> <%= selection.day_date %> <%= @month %></p>
              <hr>
            </div>
          </div>
        <% end %>

        <div class="container__content">
          <% if selection.time_of_day == "Morning" %>
          <div class="time__info">
            <div class="list__icon">
              <i class="fas fa-cloud-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>

          <% elsif selection.time_of_day == "Afternoon" %>
          <div class="time__info">
            <div class="line"></div>
            <div class="list__icon">
              <i class="fas fa-sun fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>

          <% elsif selection.time_of_day == "Evening"   %>

          <div class="time__info">
            <div class="list__icon">
              <i class="fas fa-moon fa-lg", style="color: #F4BC19";></i>
            </div>
          </div>
          <% end %>
          <div class="card-list-container">
            <div class="card-list-flex">

              <%# Image container  %>
              <div class="card-image" style="background-image: url('<%=selection.activity.image_url%>');">
              </div>

              <%# Card info  %>
              <div class = "card-info-container">

                <%# Adding padding to the text  %>
                <div class="card-text-container">
                  <h2><%=selection.activity.name%></h2>
                  <p> <%=selection.activity.description%> </p>
                  <p> <%=selection.activity.address%></p>
                </div>

                <div class = "card-text-container ">

                  <div class = "card-list-right">

                    <div>
                      <p>Website</p>
                    </div>

                    <div>
                      <% if selection.activity.price_category == "1" %>
                        <p><% 1.times{%> <i class="fas fa-dollar-sign"></i><%}%> </p>

                      <% elsif selection.activity.price_category == "2" %>
                        <p><% 2.times{%> <i class="fas fa-dollar-sign"></i><%}%> </p>

                      <% elsif selection.activity.price_category == "3" %>
                        <p><% 3.times{%> <i class="fas fa-dollar-sign"></i><%}%> </p>
                      <% end %>
                    </div>
                    <div>
                      <% if selection.activity.rate == 1 %>
                        <p><% 1.times{%> <i class="fas fas fa-star"></i><%}%> </p>

                      <% elsif selection.activity.rate == 2 %>
                        <p><% 2.times{%> <i class="fas fas fa-star"></i><%}%> </p>

                      <% elsif selection.activity.rate == 3 %>
                        <p><% 3.times{%> <i class="fas fas fa-star"></i><%}%> </p>
                        <% elsif selection.activity.rate == 4 %>
                        <p><% 4.times{%> <i class="fas fas fa-star"></i><%}%> </p>
                        <% elsif selection.activity.rate == 5 %>
                        <p><% 5.times{%> <i class="fas fas fa-star"></i><%}%> </p>
                      <% end %>
                    </div>

                  </div>

                </div>

              </div>
              <!-- /.card-info -->

            </div>
            <!-- /.card-list-flex -->
          </div>
          <!-- /.card-list-container -->
        </div>
        <% end %>

      </div>

        <%# /loop  %>

      </div>

      <!-- /cards-itinerary-container -->
    </div>
    <!-- /.list-container -->
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->








<%#= link_to 'DOWNLOAD PDF', listview_path(format: :pdf) %>

