
<div>
  <%#= image_tag "canary_logo.png", alt: "alttext", height: 100, width: 100 %>
</div>

<div class="title__list">
<h1>activities during your trip in <br>Italy </h1>
</div>

<!-- start -->

<div class= "pdf-row-center">
  <div class ="pdf-row-container">

    <div class= "pdf-day-container">
      <p class="pdf-day-width">Monday</p>
    </div>

  <% @monday_selection.each do |selection|  %>
    <%= render 'card-pdf', {selection: selection}%>
  <% end  %>

  </div>
</div>

<div class= "pdf-row-center">
  <div class ="pdf-row-container">

    <div class= "pdf-day-container">
      <p class = "pdf-day-width">Tuesday</p>
    </div>

  <% @tuesday_selection.each do |selection|  %>
    <%= render 'card-pdf', {selection: selection}%>
  <% end  %>
  </div>
</div>

<div class= "pdf-row-center">
  <div class ="pdf-row-container">

    <div class= "pdf-day-container">
    <p class = "pdf-day-width"> Wednesday</p>
  </div>

  <% @wednesday_selection.each do |selection|  %>
    <%= render 'card-pdf', {selection: selection}%>
  <% end  %>
  </div>
</div>


<div class= "pdf-row-center">
  <div class ="pdf-row-container">

    <div class= "pdf-day-container">
      <p class = "pdf-day-width">Thursday</p>
    </div>

  <% @thursday_selection.each do |selection|  %>
    <%= render 'card-pdf', {selection: selection}%>
  <% end  %>
  </div>
</div>

<div class= "pdf-row-center">
  <div class ="pdf-row-container">

    <div class= "pdf-day-container">
     <p class = "pdf-day-width">Friday</p>
    </div>

  <% @friday_selection.each do |selection|  %>
    <%= render 'card-pdf', {selection: selection}%>
  <% end  %>
  </div>
</div>

<div class= "pdf-row-center">
  <div class ="pdf-row-container">

    <div class= "pdf-day-container">
     <p class = "pdf-day-width">Saturday</p>
    </div>

  <% @saturday_selection.each do |selection|  %>
    <%= render 'card-pdf', {selection: selection}%>
  <% end  %>
  </div>
</div>

<div class= "pdf-row-center">
  <div class ="pdf-row-container">

    <div class= "pdf-day-container">
      <p class = "pdf-day-width">Sunday</p>
    </div>

  <% @sunday_selection.each do |selection|  %>
    <%= render 'card-pdf', {selection: selection}%>
  <% end  %>
  </div>
</div>
