
<div class="title__list">
<h1>activities during your trip in <br>Italy </h1>
</div>

<div>
  <%= image_tag "canary_logo.png", alt: "alttext", height: 100, width: 100 %>
</div>

<!-- start -->

<div class= "pdf-row-center">
  <div class ="pdf-row-container">
   Monday
  <% @monday_selection.each do |selection|  %>
    <%= render 'card-pdf', {selection: selection}%>
  <% end  %>
  </div>
</div>

<div class= "pdf-row-center">
  <div class ="pdf-row-container">
   Tuesday
  <% @tuesday_selection.each do |selection|  %>
    <%= render 'card-pdf', {selection: selection}%>
  <% end  %>
  </div>
</div>

<div class= "pdf-row-center">
  <div class ="pdf-row-container">
   Wednesday
  <% @wednesday_selection.each do |selection|  %>
    <%= render 'card-pdf', {selection: selection}%>
  <% end  %>
  </div>
</div>


<div class= "pdf-row-center">
  <div class ="pdf-row-container">
   Thursday
  <% @thursday_selection.each do |selection|  %>
    <%= render 'card-pdf', {selection: selection}%>
  <% end  %>
  </div>
</div>

<div class= "pdf-row-center">
  <div class ="pdf-row-container">
   Friday
  <% @friday_selection.each do |selection|  %>
    <%= render 'card-pdf', {selection: selection}%>
  <% end  %>
  </div>
</div>

<div class= "pdf-row-center">
  <div class ="pdf-row-container">
   Saturday
  <% @saturday_selection.each do |selection|  %>
    <%= render 'card-pdf', {selection: selection}%>
  <% end  %>
  </div>
</div>

<div class= "pdf-row-center">
  <div class ="pdf-row-container">
   Sunday
  <% @sunday_selection.each do |selection|  %>
    <%= render 'card-pdf', {selection: selection}%>
  <% end  %>
  </div>
</div>
